.form-btn-wrapper {
	display: flex;
	justify-content: center;
	gap: 2rem;
	grid-column: span 2;
	margin-top: 1rem;
}

.form-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 1rem;
	margin-bottom: 1rem;
	/* margin-left: auto;
	margin-right: auto; */
	background-color: var(--black);
	border-radius: var(--spacing-base);
	padding: 2rem;
	width: 35rem;
	gap: 0.7rem;
}

.form-grid span {
	grid-column: 2;
	color: var(--orange);
	/* text-align: center; */
}

/* .form-container input {
	height: 2rem;
	width: 12rem;
	padding-left: var(--spacing-small);
	outline: 1px solid var(--charcoalGrey);
	border-radius: var(--border-radius);
	box-shadow: 0 0 0 var(--black);
	transition: 0.2s ease-in-out;
}

.form-container input:focus {
	outline: 1px solid var(--orange);
	box-shadow: 5px 5px 5px var(--black);
} */
