/* .mantine-Modal-content {
	background-color: var(--black);
	border-radius: var(--border-radius);
	border: dotted 1px var(--lightGrey);
	background-color: var(--black);
	box-shadow: 5px 5px 13px var(--black);
	color: var(--lightGrey);
}

.mantine-Modal-body {
	background-color: var(--black);
	color: var(--lightGrey);
}

.mantine-Modal-header {
	background-color: red;
	border-bottom: dotted 1px var(--lightGrey);
	
} */

.header-one-container,
.header-two-container {
	position: relative;
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}

.header-one-container::after,
.header-two-container::after {
	content: '';
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: var(--charcoalGrey);
}

.no-active-orders,
.name-header {
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin: 15px 0 15px 0; */
}

.modal-container {
	overflow: hidden;
}

.modal-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--spacing-base);
	width: 60%;
	margin: auto auto;
	padding-bottom: 30px;
	place-items: center;
}
