.mantine-Modal-content {
	background-color: var(--black);
	border-radius: var(--border-radius);
	border: dotted 1px var(--lightGrey);
	background-color: var(--black);
	box-shadow: 5px 5px 13px var(--black);
	color: var(--lightGrey);
}

.mantine-Modal-header {
	background-color: var(--black);
	border-bottom: dotted 1px var(--lightGrey);
}

.header-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px 0 15px 0;
}

.modal-container {
	overflow: hidden;
}

.modal-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}
