.mantine-Modal-content {
	background-color: var(--black);
	border-radius: var(--border-radius);
	border: dotted 1px var(--lightGrey);
	background-color: var(--black);
	box-shadow: 5px 5px 13px var(--black);
	color: var(--lightGrey);
}

.mantine-Modal-header {
	background-color: var(--black);
	border-bottom: dotted 1px var(--lightGrey);
}

/* .order-modal-container {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 20px;
} */

.customer-modal-header-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr); /* To kolonner med lige bredde */
	gap: 10px; /* Tilføj mellemrum mellem elementerne efter behov */
}

.grid-item {
	/* Tilpas yderligere styling efter behov */
}
