nav {
	background-color: var(--black);
	color: var(--white);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--spacing-small) var(--spacing-base);
	border-bottom: 1px solid var(--orange);
	text-transform: capitalize;
	font-family: var(--font-family);
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-large);
}

nav .active {
	color: var(--orange);
}

nav a {
	color: var(--white);
	text-decoration: none;
	margin: 0 1em;
	transition: color 0.3s ease;
}

nav a:hover,
nav li:hover > a {
	/* Hovering over the list item will also change the color of the link */
	color: var(--orange);
}

nav img {
	width: 80px;
}

.nav-links-wrapper {
	display: flex;
}

.nav-links-wrapper ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-links-wrapper > ul > li {
	display: inline-flex;
	position: relative;
	align-items: center;
}

.nav-links-wrapper > ul > li a {
	display: block;
	text-decoration: none;
}

.nav-links-wrapper > ul > li .dropdown-wrapper {
	cursor: pointer;
}

.nav-links-wrapper > ul > li ul.dropdown {
	position: absolute;
	top: 100%;
	left: 10px;
	z-index: 99;
	display: none;
	background-color: var(--darkGrey);
	border-radius: 0 0 var(--border-radius) var(--border-radius);
	box-shadow: 2px 2px 5px var(--black);
	animation: fade-in 0.3s both;
}

.nav-links-wrapper > ul > li:hover ul.dropdown {
	display: block;
}

.dropdown-icon {
	color: var(--orange);
	margin-left: var(--spacing-small);
	vertical-align: middle;
}

@media (max-width: 768px) {
	nav {
		flex-direction: column;
	}

	.nav-links-wrapper ul {
		flex-direction: column;
	}

	.NavBarButtons {
		margin-top: var(--spacing-small);
	}

	.nav-links-wrapper > ul > li {
		display: block;
	}
}

@keyframes fade-in {
	0% {
		filter: opacity(0);
	}
	100% {
		filter: opacity(1);
	}
}
