.accordianLabel {
	background-color: var(--charcoalGrey);
	border: 1px solid var(--orange);
	border-radius: 0;
	width: 100%;
	margin-top: var(--spacing-base);
	padding: var(--spacing-base);
}

.accordianContent {
	display: flex;
	flex-direction: column;
	background-color: var(--charcoalGrey);
	/* gap: 1rem; */
}

.contentItem {
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--lightGrey);
	padding: var(--spacing-base);
	gap: 1rem;
}

