
.form-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.tasks-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.car-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 3rem;
}

.car-grid {
    width: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.date-container {
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-container button {
    background-color: #313131;
}

button:disabled  {
    background-color: #4c4c4c;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.checkbox-div {
    display: grid;
    grid-template-areas:
    "inpu labe pric"
    "inpu desc pric";
    grid-template-columns: 1fr 4fr 0.5fr;
    grid-template-rows: 1fr 2fr;
}

.checkbox-div label {
    grid-area: labe;
    font-size: large;
}

.checkbox-div input {
    grid-area: inpu;
}

.checkbox-div .price {
    grid-area: pric;
}

.checkbox-div .description {
    grid-area: desc;

}



.react-calendar__navigation button {
    padding: 3px 5%;
}

/*Den valgte dato i kalenderen*/
.react-calendar__tile--active {
    background-color: blue;
}