@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Rokkitt:wght@100;400&display=swap');

:root {
	--header-font-family: Roboto, sans-serif;
	--font-family: Rokkitt, serif;
	line-height: 1.5;
	font-weight: var(--font-weight-normal);

	/* ----- Color variables ----- */
	--black: #262626;
	--charcoalGrey: #3c3c3c;
	--darkGrey: #5a5a5a;
	--lightGrey: #bbbab9;
	--orange: #d87005;
	--white: #f4f4f4;

	/* spacing */
	--spacing-small: 0.5rem;
	--spacing-base: 1rem;
	--spacing-large: 1.5rem;
	--spacing-xlarge: 2rem;
	--spacing-xxlarge: 3.5rem;

	/* fontsize */
	--font-size-small: 0.875rem;
	--font-size-base: 1rem;
	--font-size-large: 1.25rem;
	--font-size-xlarge: 1.5rem;
	--font-size-xxlarge: 2.5rem;

	/* fontweight */
	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-bold: 700;

	/* border */
	--border-radius: 0.3rem;
	--border-none: none;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

/* ----- css reset ----- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-family);
	color-scheme: light dark;
	color: var(--white);
	background-color: var(--charcoalGrey);
}

h1,
h2,
h3,
h4 {
	color: var(--orange);
	font-family: var(--header-font-family);
}

h1 {
	font-size: var(--font-size-xxlarge);
	font-weight: var(--font-weight-bold);
}

h2 {
	font-size: var(--font-size-large);
	font-weight: var(--font-weight-bold);
}

h3 {
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-bold);
}

.page-layout {
	margin: var(--spacing-base);
	min-height: 100vh;
}

button {
	font-family: var(--font-family);
	font-weight: var(--font-weight-normal);
	font-size: var(--font-size-base);
	text-transform: capitalize;
	border-radius: var(--border-radius);

	background-color: var(--charcoalGrey);
	color: var(--white);
	border: none;
	outline: 0;
	padding: var(--spacing-small) var(--spacing-small);
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: var(--orange);
}

button:focus-visible {
	outline: none !important;
}

input {
	height: 2rem;
	width: 12rem;
	padding-left: var(--spacing-small);
	outline: 1px solid var(--charcoalGrey);
	border-radius: var(--border-radius);
	box-shadow: 0 0 0 var(--black);
	transition: 0.2s ease-in-out;
	cursor: pointer;
}

input:focus {
	outline: 1px solid var(--orange);
	box-shadow: 5px 5px 5px var(--black);
}

input:disabled {
	cursor: not-allowed;
}
button:disabled {
	background-color: var(--charcoalGrey);
	color: var(--darkGrey);
	cursor: auto;
}


.toaster {
	position: fixed;
	top: 87%;
	z-index: 99;
}

.modal .btn-container {
	display: flex;
	justify-content: space-around;
	padding-top: var(--spacing-base);
}

.yes-btn, .no-btn {
	padding: var(--spacing-small) var(--spacing-large);
}

.yes-btn:hover {
	background-color: red;
}

.go-back-btn-container {
	display: flex;
	flex-direction: row-reverse;
	padding-top: var(--spacing-small);
	padding-bottom: var(--spacing-small);
	width: 95%;
}

.go-back-btn-container button {
	background-color: var(--orange);
	display: flex;
	align-items: center;
	gap: var(--spacing-base);
}

.go-back-btn-container button:hover {
	background-color: orange;
}