.customer-view-grid {
	display: grid;
	grid-template-areas:
		'profile profile car'
		'orders orders orders';
}

.profile-box {
	grid-area: profile;
	background-color: red;
}
.car-box {
	grid-area: car;
	background-color: blue;
}
.orders-box {
	grid-area: orders;
	background-color: green;
}

.customer-box-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.car-box-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.orders-box-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.order-box-details {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.image-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.image-container img {
	width: 100px;
	object-fit: cover;
}

.header-flex {
	display: flex;
	justify-content: space-between;
}
